body{
background-image:url("w1.jpg");
overflow-y:scroll;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:1380px 980px;
margin-top:0px;
color:#99ff99;
}
.mid{
	margin-left:250px;
	cursor:pointer;
}
.icon{
	margin-left:550px;
	cursor:pointer;
	float:left;
	height:100px;
	width:250px;
}
button{
   border-radius:12px;
	padding:10px;
	}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav{
	float:right;
	display:block;
	}
.column {
    float: left;
    padding: 15px;
}
.column.side {
    width: 30%;
}
.column.middle {
    width: 55%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.dropbtn1 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn3 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn4 {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown1-content a:hover {
background-color:#99ff99;
color:black;
 }

.dropdown:hover .dropdown1-content {
    display: block;
}
.dropdown:hover .dropbtn1 {
    background-color:#99ff99;
    color: black;
	}

.btt{
  display: inline-block;
  cursor: pointer;
  padding: 15px;
  color: white;
  background-color: #4CAF50;
  text-align:center;
  margin-left:580px;
}
.btt:hover {
  background-color: #99ff99;
  color:black;
}
.content { max-width:800px;text-align:left; margin:auto; }

.simple-ss {
  width:1000px;
  height:500px;
  background-color:red;
  margin:auto;
  background-image:url("side5.jpg");
  background-position:0;
  background-repeat:no-repeat;
  background-size:cover;

  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-800px 0;}
  49.98% {background-position:-1400px 0;}
  66.64% {background-position:-2000px 0;}
  83.30% {background-position:-2400px 0;}
  100% {background-position:0 0;}
}

#container1{
font-size: 16px;
float : left;
width: 200px;
height: 200px;
position :relative;
border: 1px solid black;
margin-right :80px;
margin-bottom:15px;
margin-left:5px;
margin-top:15px;
cursor: pointer;
color:white;
padding:5px;
}
#container2{
font-size: 16px;
color:white;
float : right;
width: 200px;
height: 200px;
position :relative;
border: 1px solid black;
margin-left :80px;
margin-right :5px;
margin-bottom:15px;
margin-top:15px;
cursor: pointer;
padding:5px;
}

.txt-heading{    
	padding: 10px 10px;
    border-radius: 2px;
    color: #FFF;
    background: #6aadf1;
	margin-bottom:10px;
}
a.btnRemoveAction{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}
a.btnRemoveAction:visited{color:#D60202;border:0;padding:2px 10px;font-size:0.9em;}

#btnEmpty {
	background-color: #ffffff;
    border: #FFF 1px solid;
    padding: 1px 10px;
    color: #ff0000;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}
.btnAddAction{    background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}
#shopping-cart {margin-bottom:30px;}
.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
#product-grid {margin-bottom:30px;}
.product-item {	float:left;	background: #ffffff;margin:15px 10px;	padding:5px;border:#CCC 1px solid;border-radius:4px;}
.product-item div{text-align:center;	margin:10px;}
.product-price {    
	color: #005dbb;
    font-weight: 600;
}
.product-image {height:160px;background-color:#FFF; padding:15px;}
.clear-float{clear:both;}
.demo-input-box{border-radius:2px;border:#CCC 1px solid;padding:2px 1px;}

.footer{
	display:block; text-align:center; background-color:black; color:white;
}
.copyright
{
	padding:10px;
	text-align:center;
	display:block;
	background-color:#99ff99;
	color:black;
}
.namesake{
	color:cyan;
	background-color:blue;
	padding:10px;
}

